html {
  background-color: #252525;
}

.text5 {
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-size: 25px;
  margin-top: 400px;
  color: white;
}

.text6 {
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-size: 25px;
  margin-top: 400px;
  margin-bottom: 200px;
  color: white;
  margin-bottom: 300px;
}

h2 {
  text-align: center;
  display: block;
  position: relative;
  color: red;
  margin-top: 600px;
  text-decoration: underline;
  font-size: 17px;
  transform: rotate(2deg);
}

a:link {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
