html {
	color: white;
}

@media only screen and (max-width: 800px) {
header{
	font-size: 20vw;
}

h2, h3, h4, h5, h6 {
	font-size: 2em;
	max-width: 10%;
	text-align: justify;
}
.collection {
  margin-left: 0vw;
  display: grid;
		grid-template-columns: repeat(2, 5fr,);
		padding: 10%;
}

li {
	margin-left: 0vw;
	display: grid;
		grid-template-columns: repeat(2, 5fr,);
		padding: 10%;
}

ul {
	margin-left: 0vw;
	display: grid;
		grid-template-columns: repeat(2, 5fr,);
		padding: 10%;
}

.library1 {
margin-top: 100%;
margin-left: -30%;
}

.library1, .library2, .library3, .library4, .library6 {
	position: relative;
	text-align: center;
	margin-right: 0vw;
}

.library5 {
	margin-right: 0%;
	margin-top: 30%;
}

.library6 {
	opacity: 80%;
}

.library8 {
	margin-top: 70%;
	width: 50%;
	height: auto;
}

h1 {
	font-size: 3rem;
}

.all, .open, .closed {
	font-size: 2rem;
}

}

@media only screen and (max-width: 600px) {
	.library1, .library2, .library3, .library4, .library5, .library8, h2, h3, h4, h5,h6 {
		display: grid;
		grid-template-columns: repeat(2, 5fr,);
		padding: 10%;
	}

	h2, h3, h4, h5,h6 {
		font-size: larger;
		max-width: 4em;
		text-align: justify;
	}
	.img1 {
		width: 500px;
		height: auto;
	}

	.all, .open, .closed, .about {
		font-size: 4em;
	}

	ul {
		margin-left: 1vw;
		display: grid;
			grid-template-columns: repeat(2, 5fr,);
			padding: 10%;
	}

}


h1 {
	font-size: 1em;
	color: #252525;
	font-weight: 400;
	float: right;
	margin-left: 1vw;
	margin-right: 4vw;
	font-family: 'Roboto', sans-serif;
}

.open {
	position: fixed;
	margin-left: 85%;
}

.closed {
	position: fixed;
	margin-left: 75%;
}

.all {
	position: fixed;
	margin-left: 65%;
	margin-top: -5vw;
}

.about {
	position: fixed;
	margin-left: 95%;
	margin-top: -5vw;
}

h1 {
	display: inline-block;
}


.closed {
	margin-top: 1vw;
	cursor: pointer;

}

.all {
	margin-top: 1vw;
	cursor: pointer;

}
.open {
	margin-top: 1vw;
	cursor: pointer;
}

.about {
	margin-top: 1vw;
	cursor: pointer;
}
	
header {
	font-size: 8vw;
	color: #252525;
	text-align: center;
	margin-left: 22vw;
	margin-top: 18vw;
	font-family: 'Libre Baskerville', serif;
	position: fixed;
}

.collection {
	max-width: 50vw;
	color: black;
  font-size: 2vw;
  display: inline-block;
  margin-top: 10vw;
  margin-left: 0vw;
  margin-right: 0vw;
  font-weight: 400;
  text-decoration: none;
}

body {
	margin-left: 0vw;
}

li {
	padding: 3vw;
	background-color: white;
	color: black;
	opacity: 70%;
	margin-right: 0vw;
	margin-left: 0vw;
	font-family: 'Roboto', sans-serif;
	margin-top: 3vw;
	border-style: solid;
	border-color: black;

}

ul {
	display: grid;
		grid-template-columns: repeat(7, 5fr);
	gap: 1vw;
	margin-top: 45vw;
	margin-right: 0vw;
	margin-left: 0vw;
	position: absolute;
	max-width: 30vw;
	margin-left: -2vw;

}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #252525;
}

h1:hover {
	text-decoration: underline;
	color: #252525;
}

li:hover {
	opacity: 100%;
}

.img1 {
	margin-left: 4vw;
	margin-top: 4vw;
}

.books {
	position: absolute;
}

/*background-color: #CA5C5C;*/


body.show-only-open .closed { display: none }
body.show-only-closed .open { display: none }

