
h1 {
  font-family: 'Anton', sans-serif;
  color: #DB9EC8;
  font-size: 70px;
  text-decoration: underline;
  display: inline;
}

.leftbox {
  width: 685px;
  height: 825px;
  background: #F0E9DF;
  position: absolute;
  margin-left: 15px;
  margin-top: 10px;
}

.rightbox {
  width: 685px;
  height: 825px;
  background: #F0E9DF;
  position: absolute;
  margin-left: 720px;
  margin-top: 10px;
}

.leftbox:hover {
  background: #365939;
}

.rightbox:hover {
  background: #365939;
}

.leftbox, .rightbox {
  display: inline-block;
}


.touse {
  position: absolute;
  margin-left: 50px;
  margin-top: 0px;
}

.tonotuse {
  margin-left: 120px
  margin-top: 70px
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  color: #F0E9DF;
  font-size: 18px;
}

.textleft {
  margin-left: 80px;
  margin-right: 800px;
  text-align: justify;
  position: absolute;
}

.textright {
  margin-left: 830px;
  margin-right: 80px;
  text-align: justify;
  position: absolute;
}

.textleft, .textright {
  display: inline-block;
  position: relative;
}
