html {
  background-color: #F0E9DF;
}
h1 {
  font-family: 'Anton', sans-serif;
  color: #DB9EC8;
  font-size: 70px;
  text-decoration: underline;
  display: inline;
}

@media (max-width: 1000px) {
  .textleft {
    min-width: 40ch;
  }
  .textright {
    min-width: 30ch;
  }
}

@media (max-width: 900px) {
  .textright {
    display: block;
  }
  .tonotuse {
    display: block;
  }
}



.touse {
  position: absolute;
  top: 5%;
  left: 15%;
  max-width: 65ch;
  min-width: 50ch;
}

.tonotuse {
  position: absolute;
  top: 5%;
  right: 12%;
}

h2 {
  font-family: 'DM Serif Display', serif;
  font-weight: 400;
  color: #365939;
  font-size: 18px;
}

.textleft {
  text-align: justify;
  position: absolute;
  top: 20%;
  left: 8%;
  background-color: #365939;
  padding: 20px;
}

.textleft:hover {
  background-color: #365939;
  border: none;
  color: #F0E9DF;
}

.textright {
  text-align: justify;
  top: 20%;
  right: 8%;
  position: absolute;
  background-color: #365939;
  padding: 20px;
}

.textright:hover {
  background-color: #365939;
  border: none;
  color: #F0E9DF;
}

.textleft, .textright {
  display: inline-block;
  width:30%;
}

a {
  color: #DB9EC8;
  margin-top: -200%;
  margin-left: 10%;
  sprea
  display: flex;
  color: #DB9EC8;
  font-family: 'DM Serif text', serif;
  font-size: 3vw;
  font-weight: 400;
  text-decoration:  none;
  justify-content: space-between;
}

a:visited {
  color: #365939;
}

a:hover {
  text-decoration: underline;
}

body {
  margin-top: 70%;
}
