html {
  background-image: url("../bg.png");
  background-size: contain;
  width: 1440px
  height: 1440px
  background-repeat: no repeat;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  color: #252525;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
}

.book:hover {
  transform: rotate(1deg);
}
