html {
	color: white;
}

@media only screen and (min-width: 800px) {
header{
	font-size: 30vw;
}
.collection {
  margin-left: 5vw;
}
h1 {
	font-size: 3vw;
}

.books {
	margin-left: 15vw;
}

}

.books {
	transform: rotate(90deg);
	position: absolute;
	margin-top: 20vw;
	margin-left: 35vw;
}

h1 {
	font-size: 1em;
	color: #252525;
	font-weight: 400;
	float: right;
	margin-left: 1vw;
	margin-right: 0vw;
	font-family: 'Roboto', sans-serif;
}

p {
	margin-left: 5vw;
	position: absolute;
	margin-top: 15vw;
	font-size: 1em;
	color: #252525;
	font-weight: 400;
	text-align: justify;
	max-width: 30em;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 1vw;
}

.all {
	
	margin-left: 85%;
	margin-top: -5vw;
}

.about {

	margin-left: 95%;
	margin-top: -5vw;
}

h1 {
	display: inline-block;
}


.closed {
	margin-top: 1vw;
	cursor: pointer;

}

.all {
	margin-top: 1vw;
	cursor: pointer;

}
.open {
	margin-top: 1vw;
	cursor: pointer;
}

.about {
	margin-top: 1vw;
	cursor: pointer;
}
	
h2 {
	position: absolute;
	font-size: 7vw;
	font-weight: 400;
	color: #252525;
	text-align: left;
	margin-left: 5vw;
	margin-top: 6vw;
	font-family: 'Libre Baskerville', serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #252525;
} 

/*background-color: #CA5C5C;*/