html {
	color: white;
}

@media only screen and (min-width: 800px) {
header{
	font-size: 30vw;
}
.collection {
  margin-left: 5vw;
}
h1 {
	font-size: 3vw;
}
}

h1 {
	font-size: 1.25vw;
	color: #252525;
	position: sticky;
	font-weight: 400;
	float: right;
	margin-left: 1vw;
	margin-right: 4vw;
	font-family: 'Roboto', sans-serif;
}


.closed {
	margin-top: 1vw;
}

.all {
	margin-top: 3vw;
}

header {
	font-size: 15vw;
	color: #252525;
	margin-left: 32%;
	margin-top: 16%;
	font-family: 'Times New Roman', serif;
	position: fixed;
}

.collection {
	max-width: 50vw;
	color: white;
  font-size: 2vw;
  display: inline-block;
  margin-top: 15vw;
  margin-left: -4vw;
  margin-right: 5vw;
  font-weight: 400;
  text-decoration: none;
}

li {
	padding: 3vw;
	background-color: #3c6396;
	opacity: 70%;
	font-family: 'Roboto', sans-serif;
}

ul {
	display: grid;
	gap: var(--spacing);
	margin-top: 60vw;
	margin-left: 0vw;
	position: absolute;
	max-width: 30vw;

}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #252525;
} 

/*background-color: #CA5C5C;*/