html {
  background-image: url("../imgs/starbg.png") ;
  background-size: contain;
}


@media only screen and (min-width: 800px) {
  .moon {
max-width: 100%;
  }
}

header {
  font-family: 'Pinyon Script', cursive;
  font-weight: 400;
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  text-decoration: none;
}
.entry1, .entry2, .entry3, .entry4, .entry5, .entry6 {
  color: white;
  font-size: 2vw;
  display: inline-block;
  margin-top: 15vw;
  margin-left: 5vw;
  margin-right: 5vw;
  font-family: 'Nanum Brush Script', cursive;
  font-weight: 400;
  text-decoration: none;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

a {
  text-decoration: none;
}


a:hover {
   text-decoration: none;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff2cc, 0 0 40px #fdedbd, 0 0 50px #fff2cc, 0 0 60px #fdedbd, 0 0 70px #fff2cc;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff2cc, 0 0 40px #fdedbd, 0 0 50px #fff2cc, 0 0 60px #fdedbd, 0 0 70px #fff2cc, 0 0 80px #fdedbd;
  }
}

@keyframes smoothbounceball{
    from { transform: translate3d(0, 0, 0);}
    to { transform: translate3d(0, 3vw, 0);}
}

@keyframes smoothbounceball2{
  from { transform: translate3d(0, 3vw, 0);}
  to { transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes spin {
        from {
            -webkit-transform: rotate(0deg);
        } to {
            -webkit-transform: rotate(360deg);
        }
    }

@-webkit-keyframes spin2 {
          from {
              -webkit-transform: rotate(0deg);
          } to {
              -webkit-transform: rotate(-180deg);
          }
      }


@-webkit-keyframes spin3 {
            from {
              -webkit-transform: rotate(0deg);
          } to {
              -webkit-transform: rotate(10deg);
              }
          }

  
          
          .moon {
            margin-top: 0em;
            margin-right: 0%;
            margin-left: 0%;
            margin-bottom: 20em;
            top: 0;
            position: relative;
            -webkit-animation-name: spin;
              -webkit-animation-duration: 15s;
              -webkit-animation-iteration-count: infinite;
              -webkit-animation-timing-function: linear;
            opacity: 80%;
          }
          

.dream {
  margin-left: 13%;
  font-size: 18vw;
}

.journal {
  margin-left: 35%;
  margin-top: -8%;
  font-size: 18vw;
}

.star1, .star2, .star3, .star4, .star5, .star6, .star7, .tinystar1, .tinystar2, .tinystar3, .tinystar4, .tinystar5 {
  -webkit-animation: smoothbounceball 1s ease-in-out infinite alternate;
  -moz-animation: smoothbounceball 1s ease-in-out infinite alternate;
  animation: smoothbounceball 1s ease-in-out infinite alternate;
}

.star8 {
  -webkit-animation: smoothbounceball2 1s ease-in-out infinite alternate;
  -moz-animation: smoothbounceball2 1s ease-in-out infinite alternate;
  animation: smoothbounceball2 1s ease-in-out infinite alternate;
}

.row1 {
  margin-left: 10%;
  -webkit-animation-name: spin3;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: alternate-reverse;
}

.row2 {
  margin-left: 40%;
}

.row3 {
  margin-left: 60%;
  -webkit-animation-name: spin2;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: alternate-reverse;
}

.row4 {
  margin-left: 80%;
}
.star1 {
  margin-top: -90vw;
  margin-left: 30vw;
  margin-bottom: 10vw;
  position: sticky;
}

.star2 {
  margin-top: 0vw;
  margin-left: 50vw;
  position: sticky;
  -webkit-animation-name: spin2;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.star3 {
  margin-top: 0vw;
  margin-left: 70vw;
  position: sticky;
  transform: rotate(30deg);
}

.star4 {
  margin-top: 0vw;
  margin-left: 5vw;
  position: sticky;
}

.star5 {
  margin-top: 0vw;
  margin-left: 30vw;
  position: sticky;
}

.star6 {
  margin-top: 0vw;
  margin-left: 90vw;
  position: sticky;
}

.tinystar1 {
  margin-left: 40%;
  position: static;
}

.tinystar2 {
  margin-left: 80%;
  margin-top: 10%;
  position: static;
}

.tinystar3 {
  -webkit-animation-name: spin2;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.tinystar4 {
  margin-left: 50%;
  margin-top: 10%;
  position: static;
}

.tinystar5 {
  margin-left: 20%;
  margin-top: 10%;
  position: static;
}

.tinystar6, .tinystar7 {
  margin-left: 40%;
  margin-top: 0%;
  position: static;
  -webkit-animation-name: spin3;
    -webkit-animation-duration: 15s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

h1 {
  text-align: center;
  font-family: 'Nanum Brush Script', cursive;
  color: rgb(246,237,199);
  font-size: 3vw;
  font-weight: 400;
}

a:visited {
  color: rgb(246,237,199);
  text-decoration: none;
}

a:hover {
  color: rgb(246,237,199);
  text-decoration: none;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}