html {
  /*background-image: url("../scrapbook.png");
  background-size: cover;
  repeat: no-repeat;
  */
  background-color: grey;
}

@media screen and (max-width: 650px) {

}

@media screen and (min-width: 992px) {

}

@media only screen and (device-width: 414px) and (device-height: 896px) {

}


@media (max-width: 600px) {

}

.beetle2 {
  transform: rotate(-5deg);
  margin-top: -6em;
  margin-bottom: -2em;
  top: 0;
  position: sticky;
}

.eye1 {
  margin-top: 0em;
  margin-left: 75em;
  top: 0;
  position: sticky;
}

.bow {
  margin-top: -2em;
  margin-left: 35em;
  top: 0;
  position: sticky;
}

h1 {
  font-family: 'Pinyon Script', cursive;
  font-size: 17vw;
  color: #EFEEEE;
  text-align: center;
  font-weight: 400;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: #01010D;
  margin-bottom: 0em;
  margin-top: 0em;
  position: relative;
}

h2 {
  font-family: 'Pinyon Script', cursive;
  font-size: 5vw;
  color: #EFEEEE;
  font-weight: 400;
  text-align: center;
  -webkit-text-stroke-width: 0.25px;
  -webkit-text-stroke-color: #01010D;
  margin-top: -1.25em;
  position: relative;
}

h3 {
  font-family: 'Pinyon Script', cursive;
  font-size: 4vh;
  color: #252525;
  font-weight: 400;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 2vh;
  color: #252525;
  font-weight: 400;
}

a {
  color: #252525;
  text-decoration: none;
}

a:visited {
  color: #252525;
}

li {
  margin: 0.1em;
  list-style-type: none;
}

h4:hover {
  color: pink;
}

a:hover {
  color: pink;
}
/*
h3 {
  color: #252525;
  font-size: 23px;
}

.exercises {
  text-align: left;
}

.projects {
  text-align: right;
}

.past {
  text-align: left;
}

.project1 {
  text-align: right;
}

a {
  color: #252525;
  text-decoration: underline;
}
a:visited {
  color: pink;
}
*/
