html {
  background-image: url("house.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: url("sparkle.png"), auto;
}

body {
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 250px;
  color: #E9E4CF;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;
  top: 40px;
  left: 25px;
}

h1:hover {
  color: #F9E78A;
  text-shadow: 0 0 20px #F9E78A;
}

h2{
  font-family: 'Great Vibes', cursive;
  font-size: 230px;
  color: #E9E4CF;
  text-align: right;
  margin-top: 300px;
  margin-bottom: 0px;
  position: absolute;
  bottom: -40px;
  right: 16px;
}

h2:hover {
  color: #F9E78A;
  text-shadow: 0 0 20px #F9E78A;
}

a {
  cursor: url("knock.png"), auto;
}


.house {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

.house:hover {
}

 /*cursor: url("knock.png"), auto;
