@media only screen and (max-width: 600px) {
  #full > nav {
    grid-area: nav;
    height: 100vh;
    background-color: #F5f5f5;
  }

  #full {
    display: grid;
    width: 100%;
    height: 200vw;
    grid-template-areas:
      "head head"
      "nav  main"
      ". foot";
    grid-template-rows: 50vw 1fr 30px;
    grid-template-columns: 50vw 1fr;
  }

  #full > main {
    width: 60vw;
    height: 200vh;
    columns: 2;
    overflow: scroll;
  }

  main {
    height: 200vh;
  }
  ul {
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    justify-items: stretch;
    align-items: stretch;
    }
}

@media only screen and (min-width: 800px) {
  
}

#full {
    display: grid;
    width: 100%;
    height: 10vw;
    grid-template-areas:
      "head head"
      "nav  main"
      ". foot";
    grid-template-rows: 10vw 1fr 30px;
    grid-template-columns: 20vw 1fr;
  }
  
  #full > header {
    grid-area: head;
    background-color: 
    #F5f5f5;
    position: sticky;
  }
  
  #full > nav {
    grid-area: nav;
    height: 30vw;
    background-color: #F5f5f5;
  }
  
  #full > footer {
    grid-area: foot;
    background-color:  #dbddf6;
    height: 10vw;
  }

  #full > main {
    grid-area: main;
    display: grid;
    background-color: 
    #Fddfe0;
    width: 80vw;
    height: 30vw;
    overflow: scroll;
    columns: 1;
  }


  header, main, nav, footer {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #252525;
  }

  li {
    list-style: none;
    margin: 1vw;
  }

  header {
    font-size: 3vw;
    text-align: center;
    margin: 1vw;
  }

  .fav {
    background-color: white;
  }

  li:hover {
    color: white;
  }

  .cat2 {
    text-align: center;
    margin-top: 2vw;
  }

  .meow {
    margin-left: 28vw;
    background-color: white;
    position: absolute;
    margin-top: 3vw;
    padding: 1vw;
  }

  .breed {
    margin: 2vw;
    text-decoration: underline;
  }

  ul {
    display: grid;
  }

  .name {
    font-weight: 600;
  }

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
  justify-items: stretch;
  align-items: stretch;
  }

  .cat {
    position: absolute;
    margin-left: 83vw;
  }