html {
  background-color: #F0E9DF
}

header {
  font-family: 'DM Serif Display', serif;
  text-decoration: underline;
  text-align: center;
  font-size: 80px;
  color: #365939;
  margin-bottom: 0px;
  margin-top: 15px;
}

h1 {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 25px;
  color: #365939;
  margin-top: -10px;
  margin-bottom: 0px;
}

h2 {
  font-family: 'DM Serif Display', serif;
  text-align: left;
  font-size: 500px;
  color: #365939;
  margin-top: -20px;
  margin-left: 30px;
  margin-right: 200px;
  margin-bottom: 0px;
}

h3 {
  font-family: 'DM Serif Display', serif;
  text-align: right;
  font-size: 500px;
  color: #365939;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 200px;
  margin-bottom: 0px;
}

h4 {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 500px;
  color: #365939;
  margin-top: -300px;
  margin-left: 130px;
  margin-right: 100px;
  margin-bottom: 0px;
}

h5 {
  font-family: 'DM Serif Display', serif;
  text-align: left;
  font-size: 500px;
  color: #365939;
  margin-top: -20px;
  margin-left: 30px;
  margin-right: 200px;
  margin-bottom: 0px;
}

h6 {
  font-family: 'DM Serif Display', serif;
  text-align: right;
  font-size: 500px;
  color: #365939;
  margin-top: 30px;
  margin-right: 0px;
  margin-left: 200px;
  margin-bottom: -200px;
}

.text1 {
  font-family: 'DM Serif Display', serif;
  text-align: left;
  font-size: 40px;
  color: #365939;
  margin-top: -130px;
  margin-left: 70px;
  margin-right: 100px;
  margin-bottom: 0px;
  transform: rotate(-5deg);
}

.text2 {
  font-family: 'DM Serif Display', serif;
  text-align: right;
  font-size: 40px;
  color: #365939;
  margin-top: -330px;
  margin-bottom: 0px;
  transform: rotate(5deg);
}

.text3 {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  font-size: 40px;
  color: #365939;
  margin-top: -150px;
  margin-bottom: 0px;
  margin-left: 8px;
  transform: rotate(5deg);
}

.text4 {
  font-family: 'DM Serif Display', serif;
  text-align: left;
  font-size: 40px;
  color: #365939;
  margin-top: -130px;
  margin-left: 70px;
  margin-right: 100px;
  margin-bottom: 0px;
  transform: rotate(-5deg);
}

.text5 {
  font-family: 'DM Serif Display', serif;
  text-align: right;
  font-size: 40px;
  color: #365939;
  margin-top: -580px;
  margin-bottom: 0px;
  transform: rotate(5deg);
}

a:link {
  text-decoration: none;
  color: #365939;
}

a:visited {
  text-decoration: none;
  color: #365939;
}

.text1:hover {
  text-decoration: underline;
  color: #365939;
}

.text2:hover {
  text-decoration: underline;
  color: #365939;
}

.text3:hover {
  text-decoration: underline;
  color: #365939;
}

.text4:hover {
  text-decoration: underline;
  color: #365939;
}

.text5:hover {
  text-decoration: underline;
  color: #365939;
}

.text6:hover {
  text-decoration: underline;
  color: #365939;
}

h2, h3, .rectangleleft, .rectangleright {
  display: inline-block;
}

h5, h6 {
  display: inline-block;
}

.rectangletop {
  width: 1390px;
  height: 4px;
  background: #365939;
  position: absolute;
  margin-left: 15px;
  margin-top: 0px;
}

.rectangleleft {
  width: 4px;
  height: 1800px;
  background: #365939;
  position: absolute;
  margin-left: -185px;
  margin-top: -1575px;
}

.rectangleright {
  width: 4px;
  height: 1800px;
  background: #365939;
  position: absolute;
  margin-left: 1201px;
  margin-top: -1575px;
}

.rectanglebottom {
  width: 1388px;
  height: 4px;
  background: #365939;
  position: absolute;
  margin-left: -183px;
  margin-top: 222px;
}
