html {
  background-color: #F0E9DF
}

@media (max-width: 800px) {
  header {
    font-size: 60px;
  }
  h1 {
    font-size: 20px;
  }
}


header {
  font-family: 'Anton', sans-serif;
  font-size: 7vw;
  text-align: left;
  margin-left: 4%;
  margin-bottom: 1%;
  color: #365939;
  position: sticky;
  top: 10px;
}

h1 {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  font-size: 1vw;
  margin-left: 44%;
  margin-right: 6%;
  color: #365939;
  text-align: justify;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 4vw;
  text-align: right;
  margin-top: 6%;
  margin-right: 4%;
  color: #365939;
}

a:visited {
  color: #DB9EC8;
}

a {
  color: #DB9EC8;
  margin-top: 600%;
  margin-left: 10%;
  margin-bottom: 10%;
  display: inline;
  color: #DB9EC8;
  font-family: 'DM Serif text', serif;
  font-size: 3vw;
  font-weight: 400;
  text-decoration:  none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #365939;
}
