html {
  background-color: #365939;
}

.period {
  text-decoration: underline;
  color: #DB9EC8;
}

a:visited {
  color: #DB9EC8;
}

.this {
  font-family: 'Anton';
  font-size: 96px;
  text-align: right;
  color: #F0E9DF;
  margin-top: -70px;
  margin-bottom: 0px;
  margin-right: 40px;
  position: absolute;
  top: -40px;
  right: 16px;
}

.website {
  font-family: 'Anton';
  font-size: 100px;
  text-align: right;
  color: #DB9EC8;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 40px;
  position: absolute;
  top: 60px;
  right: 16px;
}

.website:hover {
  text-decoration: underline;
  text-decoration-color: #DB9EC8;
}

h2 {
  font-family: 'Anton';
  font-size: 60px;
  text-align: left;
  color: #F0E9DF;
  margin-left: 20px;
  margin-top: 600px;
}

h2:hover {
  text-decoration: underline;
  text-decoration-color: #DB9EC8;
  color: #DB9EC8;
}

h3 {
  font-family: 'DM Serif Text', serif;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  color: #F0E9DF;
  float: left;
  margin-left: 20px;
  margin-top: -40px;
  margin-bottom: 200px;
  max-width: 65ch;
}

h3, h4 {
  display: inline;
}

h4 {
  font-family: 'Anton';
  font-size: 40px;
  text-align: right;
  color: #DB9EC8;
  float: right;
  margin-top: 0px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 0px;
}

h4:hover {
  text-decoration: underline;
  color: #DB9EC8;
}
