html {
  background-color: #365939;
  cursor: url("assets/cursor.png"), auto;
}

@media (max-width: 800px) {
  .this {
    font-size: 8vw;
  }
  h4 {
    margin-left: 100%;
    margin-bottom: 0px;
  }
}

.period {
  text-decoration: underline;
  color: #DB9EC8;
}

a:visited {
  color: #DB9EC8;
}

.this {
  font-family: 'Anton';
  font-size: 96px;
  text-align: right;
  color: #F0E9DF;
  position: absolute;
  margin-bottom: 0px;
  margin-right: 4%;
  position: absolute;
  top: -16%;
  right: -1%;
}

.website {
  font-family: 'Anton';
  font-size: 100px;
  text-align: right;
  color: #DB9EC8;
  margin-bottom: 0px;
  margin-right: 4%;
  position: absolute;
  top: 6%;
  right: -1%;
}

.website:hover {
  text-decoration: underline;
  text-decoration-color: #DB9EC8;
}

h2 {
  font-family: 'Anton';
  font-size: 60px;
  text-align: left;
  color: #F0E9DF;
  margin-left: 20px;
  margin-top: 600px;
}

h2:hover {
  text-decoration: underline;
  text-decoration-color: #DB9EC8;
  color: #DB9EC8;
}

h3 {
  font-family: 'DM Serif Text', serif;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  color: #F0E9DF;
  float: left;
  margin-left: 20px;
  margin-top: -40px;
  margin-bottom: 80px;
  max-width: 65ch;
}


a {
  color: #DB9EC8;
  margin-left: 10%;
  color: #DB9EC8;
  font-family: 'DM Serif text', serif;
  font-size: 3vw;
  font-weight: 400;
  text-decoration:  none;
  margin-top: 100%;
}

h4 {
  margin-top: 65%;
}

a:hover {
  text-decoration: underline;
}
